@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 1rem;
}

.header {
  margin-bottom: 1rem;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}

.todo-items {
  margin-top: 1rem;
}

.todo-item {
  &:hover {
    background-color: #efefef;
  }

  td {
    padding: 0.25rem 0;

    &:first-child {
      padding-left: 0.5rem;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child {
      padding-right: 0.5rem;
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  td.col-action {
    text-align: right;
    padding-right: 0.25rem;

    .icon-remove {
      color: #c0c0c0;
      cursor: pointer;
      padding: 0 0.25rem;

      &:hover {
        color: #bd2d2d;
      }
    }
  }

  input[type="text"] {
    border: 1px solid transparent;
    padding: 0 0.25rem;
    width: 98%;
    height: auto;
  }
}
